*{
    margin: 0;
}
.NavBar{
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    /* border: 1px solid black; */
}
.overlay{
    background-color: rgba(0, 0, 0, 0.808);
    width: 100%;
    height: 500px;
    z-index: 1;
}
.backgnd{
    background-image: url(../Images/Typing\ Laptop.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    
}
.header{
    display: flex;
    flex: 30%;
    
}
.left{
    display: flex;
    flex: 10%;
    
}
.left select{
    border: 0;
    background-color: transparent;
    color: white;
}
.header select{
    border: 0;
    background-color: transparent;
    color: white;
}
.middle{
    flex: 10%;
    margin-left: .2%;
    margin-top: .5%;
    color: white;
    border: 1px solid white;
    padding-left: 5px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    padding-top: .2%;

}
.logo{
    flex: 10%;
    color: white;
}
.left button{
    border-radius: 50%;
    margin-left: 3%;
    background-color: transparent;
    color: white;
    border-color: white;
}
.searchBar{
    display:flex;
    flex-wrap: wrap;
    margin-top: 1%;
}
.search{
    flex: 75%;
}
.search select{
    padding: .5%;
    padding-left: 20px;
    margin-left: 1.5%;
    margin-right: -0.5%;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border: 1.5px solid black;
    box-shadow: 3px 2px 10px 3px white;
}
.search input{
    width: 80%;
    padding: .6%;
    border-right: 0;
    box-shadow: 10px 2px 10px 3px white;
    /* box-sizing: border-box;  */
}
.search button{
    padding: .6%;
    margin-left: -0.5%;
    border-left: 0;
    background-color: orangered;
    color: white;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border-color: orangered;
    box-shadow: 3px 2px 10px 3px white;
}
.right{
    margin-right: 1.5%;
}
.right button{
    padding: 4%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 13%;
    box-shadow: 2px 2px 10px 3px white;
}
.BodyText{
    color: white;
    width: 100%;
   

}
.BodyText h1{
    margin-top: 15%;
    /* margin-left: 50%; */
    margin-bottom: .5%;
}
.BodyText p{
    margin-bottom: 1%;
    /* z-index: 99; */
}
.BodyText button{
    padding: .5%;
    background-color: orangered;
    color: white;
    border-color: orangered;
}
.BodyText button:hover{
    background-color: white;
    color: orangered;
    border-color: orangered;
}
.explor{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
    width: 100%;
}
.txtt{
    flex: 30%;
    margin-left: 35%;
    margin-top: .5%;
}
.bbttnn{
    flex: 30%;
    margin-left: -15%;
    
}
.bbttnn button{
    padding: 1%;
    color: orangered;
    background-color: transparent;
    border-color: orangered;
    border-radius: 10%;
}
.bbttnn button:hover{
    color: white;
    background-color: orangered;
    border-color: white;
}